
h4 {
  font-family: Arial, serif;
}

.logBody {
  font-family: Courier New, serif;
  background-color: #e4e4e4;
  padding: 10px;
  margin: 10px;
}

.wsConnexion {
  color: green;
}

.wsError {
  color: red;
}
